<div class="footer1">
     <div class="container">
         <div class="row">
             <div class="col-lg-4 col-md-4">
                 <h4 style="color: grey">Kontakt</h4>
                 <p><i class="fa fa-home" aria-hidden="true"></i> Unis Telekom d.d. Dr. Ante Starčevića 50 <br>88000 Mostar, BiH</p>
                 <p><i class="fa fa-envelope" aria-hidden="true"></i> unis@unistelekom.ba</p>
                 <p><i class="fa fa-phone" aria-hidden="true"></i> (036) 445-300</p>
                 <p><i class="fa fa-globe" aria-hidden="true"></i> www.unistelekom.ba</p>
             </div>
             <div class="col-lg-4 col-md-4 ">
                 <h4 style="color: grey">About</h4>
                 <img src="assets/images/isoigoskom.png" alt="" class="img-responsive" style="max-width: 250px"> 
             </div>
             <div  class="col-lg-4 col-md-4" >
               <div id="slikes">
                 <h4 style="color: grey">Pratite nas.</h4>
                 <br>
                 <div >  
                 <img style="-webkit-filter: grayscale(100%);" src="assets/images/linkedin.png" alt="">
            
            <img style="-webkit-filter: grayscale(100%);" src="assets/images/facebook.png" alt="">
            
            <img style="-webkit-filter: grayscale(100%);" src="assets/images/youtube.png" alt=""></div>
            </div>
             </div>
         </div>
     </div>
 </div>
