a, a:visited, .post-heading-center h2 strong, .tbl-pricing .tbl-prc-col .tbl-prc-heading h4, .tbl-pricing .tbl-prc-col .tbl-prc-content p strong, #navigation_affix .nav > li > a:hover, .affa_feature_icon .fa, .affa_team_profile h4, .affa_team_profile .socials a:hover, .affa_nav_tabs .nav-tabs > li > a:hover, .affa_nav_tabs .nav-tabs > li > a:focus { color:#efbc5a; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, .ie input[type="range"]:focus, .ie9 input[type="range"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus, .affa_nav_tabs .nav-tabs > li.active:first-child > a, .affa_nav_tabs .nav-tabs > li.active:first-child > a:hover, .affa_nav_tabs .nav-tabs > li.active:first-child > a:focus { border-color:#efbc5a; }

.btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button, .post-heading-left:before, .tbl-pricing .tbl-prc-col.tbl-prc-col-recommended .tbl-prc-heading, #navigation_mobile .nav-menu-links, .affa_team_profile .socials .tooltip-inner { background-color:#efbc5a; }

.post-heading-left2 { border-left:2px solid #efbc5a; }

#navigation_affix .nav > li.active > a {
	color:#efbc5a;
	border-top-color:#efbc5a;
}

.affa_team_profile .socials .tooltip.bottom .tooltip-arrow { border-bottom-color:#efbc5a; }

.affa_nav_tabs .nav-tabs > li.active > a, .affa_nav_tabs .nav-tabs > li.active > a:hover, .affa_nav_tabs .nav-tabs > li.active > a:focus {
	background-color:#efbc5a;
	border-color:#efbc5a;
}

.btn-custom:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .btn-custom.btn-red:hover, input[type="button"].btn-red:hover, input[type="submit"].btn-red:hover, input[type="reset"].btn-red:hover, button.btn-red:hover { background-color:#e1ae4c; }

#navigation_mobile ul li a { color:#fbedd1; }
#navigation_mobile .nav-menu-button { background-color:#e1ae4c; }
#navigation_mobile .nav-menu-button button.nav-menu-toggle { color:#fbedd1 !important; }

.tbl-pricing .tbl-prc-col .tbl-prc-heading p { color:#b48835; }


/* Don't change this value */

a:hover { color:#404040; }

.bg-image-overlay p, .bg-image-overlay h1, .bg-image-overlay h2, .bg-image-overlay h3, .bg-image-overlay h4, .bg-image-overlay h5, .bg-image-overlay h6, .bg-image-overlay a, .bg-image-overlay .post-heading-center p, #navigation_mobile ul li a:hover { color:#FFF; }

#navigation_mobile .nav-menu-button button.nav-menu-toggle:hover { color:#FFF !important; }